<div class="new-graffiti-request-container">
	<h1>Graffiti Removal Search</h1>
	<div class="city-image-container">
		<img src="https://www.chipublib.org/wp-content/uploads/sites/3/2013/07/city-seal.png" id="city-of-chicago-seal"/>
	</div>
	<div class="request-description-container">
		<p>This search tool provides details on graffiti removal requests by ward throughout Chicago.</p>
	</div>
	<div class="graffiti-request-form">
	</div>

</div>